.plan {
    padding-top: 80px;
    .inner {

    }
}

.rec {
  .rec-slick {

  }

  .rec-item {
    display: flex;
    flex-flow: column-reverse;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 13px;
    margin-right: 10px;

      .text {
          background-color: cl(white);
          padding: 25px 25px 50px 25px;

      }
      .title {
          color: cl(text);
      }
      .price {
          padding-top: 60px;
          color: cl(text);
          > span {
            color:cl(red);
          }
      }
      .image {

      }
  }
}

.service {

  .service-wrap {
padding-top: 100px;
  }
  .service-list {
display: flex;
padding-right: 40px;
padding-left: 40px;
  }
  .service-item {
    background-color: cl(gray);
    display: flex;
    flex-flow: column-reverse;
    width: percentage(390/1200);
    + .service-item {
      margin-left: 20px;
    }
    .text {
      background-color: cl(gray);

    }
    .tilte {
     

    }
    .desc {

    }
    .image {

    }
  }
}